/*-------------------------------------------------
PAGE BODY
-------------------------------------------------*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: #333;
	background-color: #e5e5e5;
	text-align: center;
}

/* Make sure the table cells show the right font */
td { font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; }


/*-------------------------------------------------
DIALOG BOX
-------------------------------------------------*/

.DialogBody {
	margin: 0;
	padding: 10px;
	text-align: left;
	border: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #fff;
	}

.DialogBody td {
	font-size: 11px;
}

.DialogHeader {
	background-color: #333;
	padding: 0;
	margin: 0;
	text-align: left;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	}	

.DialogHeader h1 {
	font-family: verdana;
	margin: 0;
	padding: 3px 0 3px 10px;
	font-size: 10px;
	color: #fff;
	}	

.DialogBody h1 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	color: #f00;
	}

.DialogBody p.noundo {
	font-size: 10px;
	font-weight: normal;
	color: #666;
	}

.ThePost {
	margin: 10px 0 10px 0;
	padding: 10px 10px 0 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	}

.ThePost h1 {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	}

.additional {
	color: #999;
	font-size: 10px;
	}

.PrimaryAction {
	font-size: 10px; /* <-- added by rjs */
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
	border-top: 1px dotted #999;
	text-align: right;
	}

.PrimaryAction input {
	font-size: 12px;
}

/*-------------------------------------------------
LOGIN DIALOG BOX
-------------------------------------------------*/

#loginFirstTime {
	text-align: left;
}

#loginFirstTime h1 {
    margin-bottom: 15px;
    font-size: 14px;
    color: green;
    border-bottom: 1px solid #ccc;
}

#loginFirstTime h2 {
    font-size: 12px;
    margin: 0;
    padding: 0 0 1px 0;
}

#loginFirstTime p {
    font-size: 11px;
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 14px;
}

/*-------------------------------------------------
LOGIN SCREEN (.login is body class)
-------------------------------------------------*/

.login div.Container {
	width: 500px;
	margin: 60px auto 20px auto;
	min-width: inherit;
}

.login h1 {
	margin-bottom: 20px;
}


.login dl {
	margin: 10px 0 0 0;
}

.login p {
	margin: 10px 0 0 0;
}

.login dt {
	float: left;
	width: 80px;
	font-size: 14px;
	line-height: 24px;
}

.login dd {
	margin: 0 0 5px 90px;
	font-size: 11px;
	line-height: 24px;
	color: #666;
	margin-left: 80px;
}

.login input {
	font-size: 14px;
}

.login dd span {
	color: #ccc;
}

.login input#user {
	width: 300px;
}

.login input#pass {
	width: 150px;
	margin-right: 5px;
}

.login input#emailpassword {
	vertical-align: middle;
	margin-right: 5px;
}

.login div.AlertGood,
.login div.AlertBad {
	margin: 10px 0 20px 0;
}

.login div#Dialog {
	border: 10px solid #ccc;
	padding: 15px 20px 10px 20px;
	text-align: left;
	background: #fff;
}

body.login div#Dialog h2 {
	margin: 0;
	padding: 0;
}

