/*
Based on "Coffee with milk" table design by Roger Johansson, 456 Berea Street
www.456bereastreet.com
================================================*/

.ricoLG_table {
	border-top:1px solid #523A0B !important;
	border-right:none;
	font:normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color:#000;
}
tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg th, tr.ricoLG_hdg td {  /* td/th required for IE */
	background:#EBE5D9 !important;
	line-height:normal;
	text-align:left;
}

tr.ricoLG_hdg th, tr.ricoLG_hdg td {
	border-bottom:1px solid #523A0B;
	background:#EBE5D9;
	}

tr.ricoLG_hdg th, tr.ricoLG_hdg td {
  border-left: 1px solid #E0D8CD !important;
}

.ricoLG_bottom th, .ricoLG_bottom td {
  border-left: 1px solid #FFF;
}

tr.ricoLG_hdg div.ricoLG_cell {
	background:#EBE5D9;
	font-weight:bold;
	padding:0.5em 0 0.5em 0.5em;
}
div.ricoLG_outerDiv table a {
	color:#523A0B;
	text-decoration:none;
	border-bottom:1px dotted;
	}
div.ricoLG_outerDiv tbody a:visited {
	color:#444;
	font-weight:normal;
	}
div.ricoLG_outerDiv table a:hover {
	border-bottom-style:solid;
	}

.ricoLG_bottom div.ricoLG_oddRow {
	background-color:#F7F4EE;
	border-top: 1px solid #EBE5D9;
	border-bottom: 1px solid #EBE5D9;
}
.ricoLG_bottom div.ricoLG_evenRow {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
.ricoLG_selection {
	background-color:#ffffee !important;
	border-color:#523A0B !important;
}
.ricoLG_table {
  border-style:none;
}

caption {
	font-family:Georgia,Times,serif;
	font-weight:normal;
	font-size:1.4em;
	text-align:left;
	margin:0;
	padding:0.5em 0.25em;
	}