*.bak
*.swp
custom.config.php
%%*
*.tpl.php
zend_cache---*
*.log
tmp/cache/*
composer.phar
/vendor/
node_modules/
templates/default/vendor/
docs-rspress/node_modules/
docs-rspress/.rspress/
docs/static/
docs/guide/
docs/help/
docs/features/
docs/blog/
docs/rss/
docs/get-involved/
docs/index.html
docs/404.html
!docs/.htaccess
