IndexIgnore *

<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|tpl)$"> 
	Order Allow,Deny 
	Deny from all 
</FilesMatch>

<FilesMatch "\.(htm|html|css|js|php)$">
	AddDefaultCharset UTF-8
</FilesMatch>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
# If using VirtualDocumentRoot in your Apache conf tyou need to #
# add a / before index.php in the  below RewriteRules           #
RewriteRule ^/?([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)?$ index.php?module=$1&view=$2&id=$3

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)$ index.php?module=$1&view=$2 [L]



php_flag magic_quotes_gpc off
php_value memory_limit 128M
RLimitMem 128000000
