IndexIgnore *

<ifModule mod_php5.c>
php_value max_execution_time = 90 ; Maximum execution time of each script, in seconds
php_value max_input_time = 60 ; Maximum amount of time each script may spend parsing request data
php_value memory_limit = 64M ; Maximum amount of memory a script may consume
; As a reference some variables have to be set with php_admin_flag
;php_admin_flag safe_mode on
</ifModule>

<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|tpl)$"> 
	Order Allow,Deny 
	Deny from all 
</FilesMatch>

<FilesMatch "\.(htm|html|css|js|php)$">
	AddDefaultCharset UTF-8
</FilesMatch>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)?$ index.php?module=$1&view=$2&id=$3

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)$ index.php?module=$1&view=$2 [L]
