                        /*The CSS code for the fronta page of Simple Invoices - start*/
                        body{background:#FFF url('images/gb_top.gif') repeat-x; color: #222; margin: 0;      padding: 0;}

                        #list1 { width:48%;  position:absolute; top:7em; right:1em; }
                        .title { cursor:pointer; border:1px solid #CCCCCC; margin-top:0.5em; padding:0.1em; }
                        .on1  .title { background-color:#E4EFC7; }
                        .off1 .title { background-color:#E0E0E0; }
                        /*.content    { background-color:#F5F5F5; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }*/
                        .content    { background-color:#FFF; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }

                        #list2 { width:48%; position:absolute; top:7em; left:1em; }
                        .mytitle { cursor:pointer; border:1px solid #CCCCCC; margin-top:0.5em; padding:0.1em; }
                        .on  .mytitle { background-color:#E4EFC7; }
                        .off .mytitle { background-color:#E0E0E0; } 
                        /*.mycontent    { background-color:#F5F5F5; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }*/
                        .mycontent    { background-color:#FFF; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }
                        a:link {  text-decoration: none; } 
                        a:visited { text-decoration: none; }
                        a:active { text-decoration: none; }
                        a:hover {text-decoration: underline; color:  #ff0000; }


                        /*The CSS code for the fronta page of Simple Invoices - end*/

                /*The CSS code for the mina body of Simple Invoices - start*/
                h1,h2{margin: 0;padding: 0 10px;font-weight:normal}
                /*
 *                 h1,h2,p{margin: 0;padding: 0 10px;font-weight:normal}
 *                                 p{padding: 0 10px 15px}
 *                                                 */
                td.account{font: 85% Tahoma;    margin: 0;      padding: 0;}
                h1{font-size: 250%;color: #FFF;letter-spacing: 1px}
                h2{font-size: 200%;line-height:1;color:#002455 }
                /*The CSS code for the mina body of Simple Invoices - end*/


                /*The CSS for the round cornered boxes - niftycorners css -(header,subheader and footer are the colour boxes in Simple Invoices -  start*/
                div#container{
                    margin: 0 auto;padding:5px;text-align:left;background:#FFF}
                div#header{background: #c3d9fF;Padding: 10px;text-align:center;font-size: 110%; }
                div#subheader{background: #e0ecff;padding: 10px;text-align:center}
                div#content{float:left;padding:10px 0;margin:5px 0;background: #778CCA}
                div#footer{clear:both;background: #b5edbc;padding:5px 0;text-align:center}
                /*div#footer{clear:both;background: #C4E786;padding:5px 0;text-align:center}*/
                /*gmail colours blue:c3d9ff light_blue:e0ecff gree:b5edbc */

                /*niftycorners css - end */
                a img {
                        border: 0;
                }

