html {
	overflow: -moz-scrollbars-vertical; }

body {
	margin: 0 auto;
	padding: 0;
	background: #e5e5e5;
	text-align: center; }

table {
	background-color:#E5E5E5;
	border-collapse:collapse;
	border-color:#000;
}

td { 
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; 
	text-align:left; }

.col ul {
	border:1px solid #000;
	width:400px;
	margin:0 auto; }

.col ul li {
	text-align:center;
	list-style:none;
	line-height:1.5em; }

a {
	text-decoration:underline;
	padding: 1px; }

a:link {
	color: #03c; }
	
a:visited {
	color: #03c; }
	
a:hover {
	color: #fff;
	background-color: #990000;
	text-decoration: none; }


p {
	font-size: 14px;
	text-align:left;
	margin: 0 0 15px 0; }
	
#welcome {
background-color:#E5E5E5;
margin:0 auto;
border:1px solid #000;
width:15em;
padding:15px;
line-height:1.5em;
}

h1 {
	font-size: 32px;
	letter-spacing: normal;
	font-family: helvetica, arial, sans-serif;
	color: #000;
	margin: 5px 0 15px 0;
	padding: 0 0 5px 0;
	position: relative; }

h2 {
	font-size: 18px;
	margin: 0 0 15px 0;
	font-family: helvetica; }

a img {
	border: 0; }

h4 {
	font-size: 11px;
	margin: 0; }

h5 {
	font-size: 80%;
	font-style: italic;
	font-family: georgia;
	font-weight: normal;
	text-align: left;
	margin: 0 0 20px 0;
	padding-top: 3px;
	color: #6FC0DE;
	border-bottom: 1px solid #C2DDE7; }

h5 strong {
	color: #4F9DBA; }

form {
	margin: 0;
	padding: 0; }

ins {
	background-color: #cfc;
	text-decoration: none; }

del {
	color: #999; }

code, pre	{
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	background: inherit;
	color: #333;
	font-size: 80% }

table {
	border-collapse: collapse; }

div#Wrapper {
	padding: 0 23px 0 30px;
	margin: 0 auto; }

div#Container {
	margin: 13px auto 0 auto;
	text-align: center; }

.Full {
	text-align: left; }

.col {
	padding: 0 20px;
	text-align: center; }

.Left .col,
.Full .col {
	padding: 10px 30px 20px 20px;
	background: #fff url(../images/right-bg.gif) right repeat-y;
}

.Left .col .showhide {
	margin-top: 8px;
}

.Full .bottom,
.Left .bottom {
	background: url(../images/bottom-bg.gif) top right no-repeat;
	margin-bottom: 20px; }

.bottom {
	height:7px; }
	
input,select {
	border:1px solid #9096A2;
	width:auto; }

label {
	font-weight:700;
	display:block;
	width:100px;
	text-align:right;
	margin-right:15px; }