
body { background: white; color: black; font-style: normal; font-size: 12pt; font-family: Veranda, San-Serif, Arial; }

table {
        border-spacing: 0;
        border-collapse: collapse;
}

td {margin: 0px;      padding: 0px;}
tr {margin: 0px;      padding: 0px;}

.col1 { background-color: #EFEFEF; }

.font1 { font-family: Arial; font-size: 14pt; }

.font2 { color: #990000; font-size: 12pt; font-weight: bold; }

.font3 { font-family: Arial; font-size: 8pt; }

.tbl1 { border: #33628D 1px solid; border-collapse:collapse; }
.tbl1-left { border-left: #33628D 1px solid; border-collapse:collapse; }
.tbl1-right { border-right: #33628D 1px solid; border-collapse:collapse; }
.tbl1-bottom { border-bottom: #33628D 1px solid; border-collapse:collapse; }
.tbl1-top { border-top: #33628D 1px solid; border-collapse:collapse; }

.left {
 clear: left;
}

.right {
 float: right;
}
