div#Header {
	background:#036;
	position:relative;
	z-index:100; }

#Tabs a:link,#Tabs a:visited {
	color:#fff;
	background-color:#1A4F85; }

#Tabs a:hover {
	color:#fff; }

#Tabs ul a:link.current,#Tabs ul a:visited.current {
	color:#090; }

#Tabs li.logout a:link,#Tabs li.logout a:visited {
	color:#8099b3; }