/* HEADER
-------------------------------------------------*/
div#Header {
	background:#036;
	text-align:left;
	height:24px;
	padding-top:13px; }

/* TABS
-------------------------------------------------*/
#Tabs {
	padding:0 20px 0 25px; }

#Tabs a:link,#Tabs a:visited {
	color:#fff;
	background-color:#1A4F85; }

/* NAVMENU
-------------------------------------------------*/
/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
	margin:0;
	padding:0;
	list-style:none; }


/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
/*  background: #CCC;*/
  background: #990000;
  color: #FFF;
}
ul#navmenu li {
	float:left;
	position:relative;
	list-style:none; }

ul#navmenu ul {
	width:185px;
	display:none;
	position:absolute;
	top:24px;
	margin:0;
	padding:0; }

/*Sub Menu */
ul#navmenu ul li {
	width:180px;
	border:1px solid #FFF;
	border-right-color:#CCC;
	border-bottom-color:#CCC;
	background-color:#EEE; }

/*(IE7)solves z-index Bug [http://www.aplus.co.yu/adxmenu/examples/vlr/]*/
ul#navmenu li:hover {
	z-index:10000;
	white-space:normal; }

/* Root Menu */
ul#navmenu a {
	border-left:5px solid #036;
	padding-left:10px;
	padding-right:10px;
	display:block;
	line-height:22px;
	font-weight:700;
	font-size:10px; }

/* 2nd Menu */
ul#navmenu li:hover li a,ul#navmenu li.iehover li a {
	font-weight:400;
	line-height:22px;
	background-color:#dcdad5;
	color:#000; }

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,ul#navmenu li:hover li:hover a,ul#navmenu li.iehover li a:hover,ul#navmenu li.iehover li.iehover a {
	background-color:#999;
	color:#FFF; }

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,ul#navmenu li.iehover li.iehover li a {
	background-color:#dcdad5;
	color:#000; }

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,ul#navmenu li:hover li:hover li:hover a,ul#navmenu li.iehover li.iehover li a:hover,ul#navmenu li.iehover li.iehover li.iehover a {
	background-color:#999;
	color:#FFF; }

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,ul#navmenu li.iehover li.iehover li.iehover li a {
	background-color:#EEE;
	color:#666; }

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background-color:#CCC;
	color:#FFF; }

ul#navmenu ul ul,ul#navmenu ul ul ul {
	top:5px;
	left:140px; }

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,ul#navmenu li:hover ul ul ul,ul#navmenu li.iehover ul ul,ul#navmenu li.iehover ul ul ul {
	display:none; }

ul#navmenu li:hover ul,ul#navmenu ul li:hover ul,ul#navmenu ul ul li:hover ul,ul#navmenu li.iehover ul,ul#navmenu ul li.iehover ul,ul#navmenu ul ul li.iehover ul {
	display:block; }
