/*IE rico live grid table with set hack*/
	table.ricoLiveGrid {
	width:90%; }

/*Make the rico live grid scrollbars appear ok - text-align = middle makes it goes crazy*/
.col {
	text-align:left;
	padding:0 20px; }

#list1,#list2 {
	width:44%; }