

/*
Fix webkit 'black background on text input bug (mostly in Mac IDEs):
http://stackoverflow.com/questions/10587916/black-input-backgrounds-cocoa-webview/10601156#10601156
*/

INPUT[type=text] {
	-webkit-appearance: none;
}




/* Main CSS For SimpleInvoice
##################################################################  */





/* @group Global
------------------------------------------------------------------- */

html, body {
	padding: 0;
	margin: 0;
	font-family: arial,sans-serif;
}
/*
Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  
*/

* html code {
	font-size: 105%;
}

body {
	background: #ebebeb;
}

body, .dialog {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

table {
	border-collapse: collapse;
}

td, div {
	font-family: verdana, arial, helvetica, sans-serif;
	text-align: left;
}

table tr.shaded td {
	background-color: #edf3fe;
}

.print_only {
	display: none;
}

a:link,
a:visited {
	text-decoration: none;
}


/*
a:hover {
	color:#fff;
	background-color:#900;
	text-decoration:none; }
*/

a.anchor:link,
a.anchor:visited,
a.anchor:hover {
	color: #fff;
	background: #fff;
	font-size: 0;
	text-decoration: none;
	padding: 0;
}

a img {
	border: 0;
}

a.image img {
	border: none;
	margin: 0;
	padding: 0;
}

a.image:link,
a.image:visited,
a.image:hover {
	border: none;
	background: none;
	padding: 0;
}

a.toggle.active:link,
a.toggle.active:visited,
a.toggle.active:hover {
	background: #999 !important;
	color: #03c !important;
	text-decoration: none;
	font-weight: 400 !important;
}

p {
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
}

hr {
	background-color: #000;
	height: 1px;
	border: 0;
	margin: 10px 0;
}
form {
	margin: 0;
	padding: 0;
}
ins {
	background-color: #cfc;
	text-decoration: none;
}
del {
	color: #999;
}
code,
pre {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	background: inherit;
	color: #333;
	font-size: 80%;
}
.red {
	color: #c00;
}

.blue {
	color: #06c;
}

.green {
	color: #390;
}

.highlight {
	background-color: #ffc;
}
.double_underline{
	border-bottom: 3px double #555;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

div.notice {
	background: #080;
}

div.alert {
	background: red;
}

/* TYPOGRAPHY
-------------------------------------------------*/

/*
h1 {
	font:bold 32px Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	color:#000;
	position:relative;
	margin:5px 0 15px;
	padding:0 0 5px; }
*/

h1.admin {
	margin-bottom: 2px;
}

h2 {


/*	font-size:18px;
	font-family:helvetica;
*/
	margin: 0 0 15px;
}

/*	
h3 {
	font-size:1em;
	text-align:center;
	margin:4pt;
}
h4 {
	font-size:11px;
	margin:0; }

h5 {
	font-size:80%;
	font-style:italic;
	font-family:georgia;
	font-weight:400;
	text-align:left;
	padding-top:3px;
	color:#6FC0DE;
	border-bottom:1px solid #C2DDE7;
	margin:0 0 20px; }

h5 strong {
	color:#4F9DBA; }
*/

h1, h2, h3
{
color:#4B7296;
} 




/* @end */



/* @group Structure
------------------------------------------------------------------- */
.welcome{
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#FFFCD9;
	border: 1px solid #EEDE9C;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

.footer{
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 970px;
}


div#Container {
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #ddd;
	margin: -34px auto 0;
	padding-top: 42px;
	width: 970px;
	z-index: 1;
	-moz-box-shadow: 0 3px 5px #CCCCCC;
	-webkit-box-shadow: 0 3px 5px #CCCCCC;
	box-shadow: 0 3px 5px #CCCCCC;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-radius: 6px;
}

.ClearAll {
	clear: both;
	font-size: 1px;
	margin: 0;
	padding: 0;
}
.Left {
	text-align: left;
	width: 70%;
	float: left;
	margin: 0;
	padding: 0;
}
.Right {
	text-align: left;
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
}

.col {
	text-align: center;
}

body.lobby 
.Full .bottom {
	margin-bottom: 0;
}
.Right .col {
	padding: 0 0 0 9px;
}
/* @end */

/* @group Top
------------------------------------------------------------------- */
.si_grey_background {
	background: #e5e5e5;
}
.txt_right {
	margin: 0 auto;
	width: 970px;
	text-align: right;
	padding-top: 3px;
	color: #EEE;
}
#top {
	text-align: center;
}
/* @end */

/* @group ui dialog
------------------------------------------------------------------- */

/*dialog*/
.ui-dialog {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
	background: #ffffff url(../../../images/jquery-ui/ffffff_40x100_textures_01_flat_0.png) 0 0 repeat-x;
	color: #222222;
	border: 4px solid #dddddd;
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
}
.ui-resizable .ui-resizable-handle {
	display: block; 
}
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { 
	cursor: n-resize; 
	height: 7px; 
	width: 100%; 
	top: -5px; 
	left: 0px;  
}
.ui-resizable-s { 
	cursor: s-resize; 
	height: 7px; 
	width: 100%; 
	bottom: -5px; 
	left: 0px; 
}
.ui-resizable-e { 
	cursor: e-resize; 
	width: 7px; 
	right: -5px; 
	top: 0px; 
	height: 100%; 
}
.ui-resizable-w { 
	cursor: w-resize; 
	width: 7px; 
	left: -5px; 
	top: 0px; 
	height: 100%;
}
.ui-resizable-se { 
	cursor: se-resize; 
	width: 13px; 
	height: 13px; 
	right: 0px; 
	bottom: 0px; 
	background: url(../../../images/jquery-ui/222222_11x11_icon_resize_se.gif) no-repeat 0 0;
}
.ui-resizable-sw { 
	cursor: sw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	bottom: 0px;  
}
.ui-resizable-nw { 
	cursor: nw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	top: 0px; 
}
.ui-resizable-ne { 
	cursor: ne-resize; 
	width: 9px; 
	height: 9px; 
	right: 0px; 
	top: 0px; 
}
.ui-dialog-titlebar {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	padding: .5em 1.5em .5em 1em;
	color: #555555;
	background: #e6e6e6 url(../../../images/jquery-ui/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	border-bottom: 1px solid #d3d3d3;
	font-size: 1em;
	font-weight: normal;
	position: relative;
}
.ui-dialog-title {}
.ui-dialog-titlebar-close {
	/*resets*/
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	line-height: 1.3; 
	text-decoration: none; 
	font-size: 100%; 
	list-style: none;
	background: url(../../../images/jquery-ui/888888_11x11_icon_close.gif) 0 0 no-repeat;
	position: absolute;
	right: 8px;
	top: .7em;
	width: 11px;
	height: 11px;
	z-index: 100;
}
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {
	background: url(../../../images/jquery-ui/454545_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close:active {
	background: url(../../../images/jquery-ui/222222_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close span {
	display: none;
}
.ui-dialog-content {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	color: #222222;
	padding: 1.5em 1.7em;	
}
.ui-dialog-buttonpane {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	border-top: 1px solid #dddddd;
	background: #ffffff;
}
.ui-dialog-buttonpane button {
	margin: .5em 0 .5em 8px;
	color: #555555;
	background: #e6e6e6 url(../../../images/jquery-ui/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	font-size: 1em;
	border: 1px solid #d3d3d3;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
}
.ui-dialog-buttonpane button:hover {
	color: #212121;
	background: #dadada url(../../../images/jquery-ui/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	border: 1px solid #999999;
}
.ui-dialog-buttonpane button:active {
	color: #222222;
	background: #ffffff url(../../../images/jquery-ui/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
	border: 1px solid #dddddd;
}
/* This file skins dialog */
.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}




/* @end */





/* @group Tabs
------------------------------------------------------------------- */

.ui-wrapper { 
	border: 1px solid #50A029; 
}
.ui-wrapper input,
.ui-wrapper textarea { 
	border: 0;
}

#tabmenu{
	height:63px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin: 0 auto;
	width: 970px;
	z-index:1;
	position:relative;
}
.ui-tabs-hide { 
	display: none;
}

	
.subnav li{
	display: inline;
	height:25px;
	list-style-type: none;
	
	padding-right: 20px;
}

.menu_setting{
	padding-right: 20px;
	float:right;
}

.top_menu {
	margin: 0pt;
	padding: 0pt;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: right;
	padding-right: 30px;
	height: 21px;
	background: #878484;
	color: #EEE;
}

.settings {
	float: right;
	margin-top: 10px;
	padding-right: 30px;
}

.ui-tabs-hide {
	display: none;
}


#tabs_customer .anchors a {
	background-color: #fff;
	margin-top: 2px;
	padding-top: 6px;
padding-left;0px;
}

#tabs_customer .ui-tabs-panel a {
	float: none;
	background: #fff;
	padding: 0;
	margin: 0;
}

#tabs_customer .ui-tabs-panel {
	color: #333333;
	border-top: 1px #efefef solid;
}

#tabs_customer .anchors .ui-tabs-selected a {
	background-color: #E9E9DA;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#tabs_customer {
	border-bottom: 0px #efefef solid;
}

@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none !important;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

.ui-tabs-nav, 
.ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.ui-tabs-nav {
	font-size:14px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
    padding-left:20px;
}
.ui-tabs-nav:after { 
/* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    list-style-type: none; 
    float: left;
    margin: 0 0 0 2px;
    font-weight: bold;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 12px;
	color:#21759B;
	background:#ebebeb;
}
.ui-tabs-nav a {
    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 5px;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */    
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
/*    color: #fff;
**/
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    margin-top: 0;
	background:#fff;
	color:#555555;
	font-weight:bold;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	border-bottom-color:#FFFFFF;
	border-top-color:#DADADA;
	border-right-color:#DADADA;
	border-left-color:#DADADA;
	border-style:solid;
	border-bottom-width:1px;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
}
.ui-tabs-nav a span {
    padding-top: 1px;
    padding-right: 0;
    height: 20px;
    background-position: 0 0;
    line-height: 20px;
	color:#21759B;
	background:#ebebeb;
}
.ui-tabs-nav .ui-tabs-selected a span {
	padding-right:3px;
    padding-top: 0;
    height: 27px;
    line-height: 27px;
	background:#fff;
	color:#555555;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    color: #000;
}

.ui-tabs-panel a {
	color: #D54E21;
}
.ui-tabs-panel {
    z-index:4;
	clear:both;
	color: #D54E21;

/*    background: #fff;*/ /* declare background color for container to avoid distorted fonts in IE while fading */
}
/*.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}*/

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

.active{
	font-weight:bold;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
    border-radius: 9px;
	
	background-color:#D54E21;
	margin-bottom:10px;
	margin-top:10px;
	padding:7px;
    
}
a.active{
	color:#fff;
}

.active_subpage{
    background-color:#878484;
}

a.active_subpage{
    color:#fff;
    margin-left:-19px;
}
/* @end */





/* @group Buttons
------------------------------------------------------------------- */


/* BUTTONS */

table.buttons {
	border-collapse: none;
}

.buttons a, .buttons button {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background: #FFFFFF url(../../../../images/common/text-bg-rotate.gif) repeat-x scroll center bottom;
    border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;

/* OLD Links */
    padding: 5px 10px 7px 7px;
}

.buttons button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px;
}

.buttons button[type] {
	padding: 5px 10px 5px 7px;
/* Firefox */
    line-height: 17px;
/* Safari */
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px;
}

.buttons button img, .buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* STANDARD */

button:hover, 
.buttons a:hover {
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons a:active {
	border: 1px solid #6299c5;
	color: #fff;
}

/* POSITIVE */

button.positive, 
.buttons a.positive {
}

.buttons a.positive:hover, 
button.positive:hover {
	border: 1px solid #C6D880;
	color: #529214;
}

.buttons a.positive:active {
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */

.buttons a.negative, 
button.negative {


}

.buttons a.negative:hover, 
button.negative:hover {
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttons a.negative:active {
	border: 1px solid #d12f19;
	color: #fff;
}
/* @end */

/* @group Form validation errors
------------------------------------------------------------------- */

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	width: 150px;
	padding-bottom: 15px;
	display: block;
	z-index: 5000;
}

.formError .formErrorContent {
	width: 100%;
	background: #000;
	color: #fff;
	font-family: tahoma;
	font-size: 10px;
	box-shadow: 1px 1px 6px #000;
	-moz-box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 1px 1px 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.formError .formErrorArrow {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 15px;
	height: 15px;
}

.formError .formErrorArrow div {
	box-shadow: 1px 4px 5px #000;
	-moz-box-shadow: 1px 4px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	font-size: 0px;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	font-size: 0px;
	display: block;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line8 {
	width: 11px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line7 {
	width: 9px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line6 {
	width: 7px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line5 {
	width: 5px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line4 {
	width: 3px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	display: block;
}

/* @end */

/* @group Si Reports
------------------------------------------- */

.si_report_title1 {
	color: #4B7296;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 20px 0;
	padding: 3px;
}

.si_report_title2 {
	font-weight: bold;
	border-bottom: 1px solid #EEE;
	margin: 10px 0 15px 0;
	padding: 5px;
	color: #888;
}

.si_report_table {
	border: 1px solid #ddd;
	border-width: 0 1px 0 0;
	margin-bottom: 20px;
}

.si_report_table TD,
.si_report_table TH {
	text-align: right;
	padding: 2px 5px 2px 10px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #FAFAFA;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}

.si_report_table THEAD TH {
	color: #666;
	font-weight: bold;
	background: #fafafa url(../../../../images/flexigrid/fhbg.gif) repeat-x bottom;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: 1px solid #DDD;
	border-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.si_report_table TBODY TH {
	color: #666;
	font-weight: normal;
}

.si_report_table .tr_A {
	background: #F7F7F7;
}

.si_report_table TFOOT TH,
.si_report_table TFOOT TD {
	color: #000;
	font-weight: bold;
	background: #F0F0F0 url(../../../../images/flexigrid/fhbg.gif) repeat-x bottom;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 0;
}

.si_report_table .rate {
	font-size: 9px;
	color: #00b900;
	border-left-width: 0;
	padding-left: 5px;
	display: none;
}

.si_report_table .neg_rate {
	color: #da100d;
}

.si_button_mini {
	display: inline-block;
	font-size: 9px;
	margin: 1px 3px;
	line-height: 9px;
	color: #00703a;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#d6d6d6));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow: 1px 1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}

.si_button_mini:hover {
	color: #000;
	-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow: -1px -1px 1px rgba(000,000,000,0.1),
		inset 0px 0px 3px rgba(255,255,255,1);
}

/* @end */

/* @group Sortable Tables
------------------------------------------------------------------- */

table.manage {
	font-size: 12px;
}

td.account {
	font-size: 12px;
}

/* Tablesorter table styling - end td for the manage screen - start */
td.index_table {
	background-color: #F5F5F5;
	border: 1px solid #fff;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	border-color: #FFF;
	border-style: none;
}

td.columnleft {
	border-left: 5px solid #EEE;
}

td.details_screen {
	border-bottom: 1px dashed #d3d3d3;
	line-height: 24px;
}

/*
 * For manage tables and no javascript and list of invoices in view customer screen
 * */

table.sortable {
	border-spacing: 0;
	border: 1px solid #fff;
	border-collapse: collapse;
}

th.sortable {
	text-align: left;
	background-color: #e9e9da;
	border-bottom: 1px solid #CBC7B8;
	border-right: 1px solid #D6D2C2;
	font-weight: 400;
	padding: 2px;
}

th.sortable_rt {
	text-align: right;
	background-color: #e9e9da;
	border-bottom: 1px solid #CBC7B8;
	border-right: 1px solid #D6D2C2;
	font-weight: 400;
	padding: 2px;
}


/*
 * left rigth - define text align for tables here
 * */

.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}

#left,
.Full,
.align_left {
	text-align: left;
}
/* @end */

/* @group Accordian
------------------------------------------------------------------- */
#accordian {
	width: auto;
	min-height: 22em;
}

* html #accordian {
	height: 22em;
}

#accordian td {
	width: 10%;
	height: 3em;
}

#list1 {
	width: 49%;
	float: right;
}

* html #list1 {
	width: 49%
}

*+html #list1 {
	width: 49%
}

#list2 {
	width: 49%;
	float: left;
}

* html #list2 {
	width: 50%
}

*+html #list2 {
	width: 50%
}

/* @end */

/* @group Credits.html
------------------------------------------------------------------- */
.credit_names li {
	font-weight: 700;
}
.credit_names li ul {
	font-weight: normal;
	padding: 0.2em 0 1.3em 0;
}
.solutionTable {
	margin: 20px 0;
}
.solutionTable td, .solutionTable th {
	padding: 3px 10px;
}
/* @end */

/* @group ToSort
------------------------------------------------------------------- */
.note, .note-edit {
	width: 100%
}
img.action {
	vertical-align: bottom;
}


.title,.mytitle {
	text-align: center;
	cursor: pointer;
	border: 1px solid #CCC;
	margin-top: 0.5em;
	padding: 0.1em;
}


.validation_alert {
	font-weight: 700;
	color: #FFF;
	background-color: red;
	padding: 10px;
}

.on1 .title,.on .mytitle {
	background-color: #E4EFC7;
}

.off1 .title,.off .mytitle {
	background-color: #E0E0E0;
}

.content,.mycontent {
	background-color: #FFF;
	border: 1px solid silver;
	border-top-width: 0;
	padding: 0.1em;
}


.gmailLoader {
	background-color: #CF4342;
	color: #fff;
	top: 0px;
	right: 0px;
	position: fixed;
	padding: 3px
}

/* @end */






/* EXTERNAL LIBRARIES
##################################################################  */

/* @group Doukiwki
------------------------------------------------------------------- */
/* extjs/doukiwki style input boes */

input, select, textarea {
	background: #FFFFFF url(../../../../images/common/text-bg.gif) repeat-x scroll center top;
	border: 1px solid #CCCCCC;
	margin: 1px;
	padding: 0.2em 0.3em;
}

.xxbutton {
	background: #FFFFFF url(../../../../images/common/text-bg-rotate.gif) repeat-x scroll center bottom;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #000000;
	cursor: pointer;
	margin: 1px;
	text-decoration: none;
	vertical-align: middle;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px;
}

xbutton_img {
	border: medium none;
	height: 16px;
	margin: 0 3px -3px 0 !important;
	padding: 0;
	width: 16px;
}

/* @end */




/* @group PhpReports
------------------------------------------------------------------- */
.HEADER {
	background-color: #204040;
	color		: #FFFFC4;
	font-size	: 12px;
	font-weight	: bold;
}

.FOOTER {
	background-color: #300020;
	color		: #FFFFC4;
	font-size	: 12px;
	font-weight	: bold;
}

.EVEN	{
	background-color: #FFFFC4;
	color		: #300020;
}
.ODD	{
	background-color: #FFFFFF;
	color		: #300020;
}


/* Old PHP Reports CSS  - uses class="reportTable" */

table.reportTable {
	border: 1px solid #000;
}

*+html table.reportTable {
	border-collapse: separate;
}

*+html td.PAGE_LAYER {
	border-width: thin;
	border: 1px solid #000;
	border-collapse: separate;
}

*+html table.reportTable tr {
	border: 1px solid #000;
	border-collapse: separate;
}

table.reportTable td.PAGE_LAYER {
	background-color: #ccc;
	border-color: #000;
}

/* New PHPreports CSS - uses ID="pg2" or "pg1"  - Although HEADER and FOOTER are used now instead of PAGE_LAYER, it is left as is for compatibility */

table#pg1 {
	border: 1px solid #000;
}

*+html table#pg1 {
	border-collapse: separate;
}

*+html td.PAGE_LAYER {
	border-width: thin;
	border: 1px solid #000;
	border-collapse: separate;
}

*+html table#pg1 tr {
	border: 1px solid #000;
	border-collapse: separate;
}

table#pg1 td.PAGE_LAYER {
	background-color: #ccc;
	border-color: #000;
}

table#pg1 td.GROUP_LAYER {
	background-color: #fff;
	border-color: #000;
}

table#pg2 {
	border: 1px solid #000;
}

*+html table#pg2 {
	border-collapse: separate;
}

*+html td.PAGE_LAYER {
	border-width: thin;
	border: 1px solid #000;
	border-collapse: separate;
}

*+html table#pg2 tr {
	border: 1px solid #000;
	border-collapse: separate;
}

table#pg2 td.PAGE_LAYER {
	background-color: #ccc;
	border-color: #000;
}

table#pg2 td.GROUP_LAYER {
	background-color: #fff;
	border-color: #000;
}
/* @end */



/* @group Flexigrid
------------------------------------------------------------------- */

@charset "UTF-8";

.flexigrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: relative;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
}

.flexigrid.hideBody {
	height: 26px !important;
	border-bottom: 1px solid #ccc;
}

.ie6fullwidthbug {
	border-right: 0px solid #ccc;
	padding-right: 2px;
}

.flexigrid div.nDiv {
	background: #eee url(../../../images/flexigrid/line.gif) repeat-y -1px top;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.flexigrid div.nDiv table {
	margin: 2px;
}

.flexigrid div.hDivBox {
	float: left;
	padding-right: 40px;
}

.flexigrid div.bDiv table {
	margin-bottom: 10px;
}

.flexigrid div.bDiv table.autoht {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.flexigrid div.nDiv td {
	padding: 2px 3px;
	border: 1px solid #eee;
	cursor: default;
}

.flexigrid div.nDiv tr:hover td, .flexigrid div.nDiv tr.ndcolover td {
	background: #d5effc url(../../../images/flexigrid/hl.png) repeat-x top;
	border: 1px solid #a8d8eb;
}

.flexigrid div.nDiv td.ndcol1 {
	border-right: 1px solid #ccc;
}

.flexigrid div.nDiv td.ndcol2 {
	border-left: 1px solid #fff;
	padding-right: 10px;
}

.flexigrid div.nDiv tr:hover td.ndcol1, .flexigrid div.nDiv tr.ndcolover td.ndcol1 {
	border-right: 1px solid #d2e3ec;
}

.flexigrid div.nDiv tr:hover td.ndcol2, .flexigrid div.nDiv tr.ndcolover td.ndcol2 {
	border-left: 1px solid #eef8ff;
}

.flexigrid div.nBtn {
	position: absolute;
	height: 24px;
	width: 14px;
	z-index: 900;
	background: #fafafa url(../../../images/flexigrid/fhbg.gif) repeat-x bottom;
	border: 0px solid #ccc;
	border-left: 1px solid #ccc;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
	display: none;
}

.flexigrid div.nBtn div {
	height: 24px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	background: url(../../../images/flexigrid/ddn.png) no-repeat center;
}

.flexigrid div.nBtn.srtd {
	background: url(../../../images/flexigrid/wbg.gif) repeat-x 0px -1px;
}

.flexigrid div.mDiv {
	background: url(../../../images/flexigrid/wbg.gif) repeat-x top;
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-top: 0px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.mDiv div {
	padding: 6px;
	white-space: nowrap;
}

.flexigrid div.mDiv div.ptogtitle {
	position: absolute;
	top: 4px;
	right: 3px;
	padding: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	border: 1px solid #ccc;
	cursor: pointer;
}

.flexigrid div.mDiv div.ptogtitle:hover {
	background-position: left -2px;
	border-color: #bbb;
}

.flexigrid div.mDiv div.ptogtitle span {
	display: block;
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	width: 14px;
	height: 14px;
	background: url(../../../images/flexigrid/uup.png) no-repeat center;
}

.flexigrid div.mDiv div.ptogtitle.vsble span {
	background: url(../../../images/flexigrid/ddn.png) no-repeat center;
}

.flexigrid div.tDiv 



/*toolbar*/ {
	background: #fafafa url(../../../images/flexigrid/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.flexigrid div.sDiv 



/*toolbar*/ {
	background: #fafafa url(../../../images/flexigrid/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	display: none;
}

.flexigrid div.sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}

.flexigrid div.sDiv2 input, .flexigrid div.sDiv2 select {
	vertical-align: middle;
}

.flexigrid div.btnseparator {
	float: left;
	height: 22px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 1px;
}

.flexigrid div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.flexigrid div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.flexigrid div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.flexigrid div.fbutton:hover, .flexigrid div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}

.flexigrid div.fbutton:hover div, .flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* end toolbar*/

.flexigrid div.hDiv {
	background: #fafafa url(../../../images/flexigrid/fhbg.gif) repeat-x bottom;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.hDiv table {
	border-right: 1px solid #fff;
}

.flexigrid div.cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.flexigrid div.cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: col-resize;
}

.flexigrid div.cDrag div:hover, .flexigrid div.cDrag div.dragging {
	background: url(../../../images/flexigrid/line.gif) repeat-y 2px center;
}

.flexigrid div.iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}

.flexigrid div.iDiv input, .flexigrid div.iDiv select, .flexigrid div.iDiv textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.flexigrid div.iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}

.flexigrid div.bDiv {
	border: 1px solid #ccc;
	border-top: 0px;
	background: #fff;
	overflow: auto;
	position: relative;
}

.flexigrid div.bDiv table {
	border-bottom: 1px solid #ccc;
}

.flexigrid div.hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(../../../images/flexigrid/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: col-resize;
}

.flexigrid div.hGrip:hover, .flexigrid div.hGrip.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.flexigrid div.vGrip {
	height: 5px;
	overflow: hidden;
	position: relative;
	background: #fafafa url(../../../images/flexigrid/wbg.gif) repeat-x 0px -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	text-align: center;
	cursor: row-resize;
}

.flexigrid div.vGrip span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

.flexigrid div.hDiv th, .flexigrid  div.bDiv td  



/* common cell properties*/ {
	text-align: left;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	overflow: hidden;
	vertical-align: top !important;
}

.flexigrid div.hDiv th div, .flexigrid  div.bDiv td  div, div.colCopy div



/* common inner cell properties*/ {
	padding: 5px;
	border-left: 0px solid #fff;
}

.flexigrid div.hDiv th, div.colCopy {
	font-weight: normal;
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

div.colCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #fafafa url(../../../images/flexigrid/fhbg.gif) repeat-x bottom;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.hDiv th.sorted {
	background: url(../../../images/flexigrid/wbg.gif) repeat-x 0px -1px;
	border-bottom: 0px solid #ccc;
}

.flexigrid div.hDiv th.thOver {
	
}

.flexigrid div.hDiv th.thOver div, .flexigrid div.hDiv th.sorted.thOver div {
	border-bottom: 1px solid orange;
	padding-bottom: 4px;
}

.flexigrid div.hDiv th.sorted div {
	border-bottom: 0px solid #ccc;
	padding-bottom: 5px;
}

.flexigrid div.hDiv th.thMove {
	background: #fff;
	color: #fff;
}

.flexigrid div.hDiv th.sorted.thMove div {
	border-bottom: 1px solid #fff;
	padding-bottom: 4px
}

.flexigrid div.hDiv th.thMove div {
	background: #fff !important;
}

.flexigrid div.hDiv th div.sdesc {
	background: url(../../../images/flexigrid/dn.png) no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
	background: url(../../../images/flexigrid/up.png) no-repeat center top;
}

.flexigrid div.bDiv td {
	border-bottom: 1px solid #fff;
	vertical-align: top;
	white-space: nowrap;
}

.flexigrid div.hDiv th div {
	
}

.flexigrid span.cdropleft {
	display: block;
	background: url(../../../images/flexigrid/prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.flexigrid div.hDiv span.cdropright {
	display: block;
	background: url(../../../images/flexigrid/next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

.flexigrid div.bDiv td div {
	border-top: 0px solid #fff;
	padding-bottom: 4px;
}

.flexigrid tr td.sorted {
	background: #f3f3f3;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f3f3f3;
}

.flexigrid tr td.sorted div {
	
}

.flexigrid tr.erow td {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

.flexigrid tr.erow td.sorted {
	background: #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.flexigrid tr.erow td.sorted div {
	
}

.flexigrid div.bDiv tr:hover td, 
		.flexigrid div.bDiv tr:hover td.sorted,
		.flexigrid div.bDiv tr.trOver td.sorted, 
		.flexigrid div.bDiv tr.trOver td {
	background: #d9ebf5;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;
}

.flexigrid div.bDiv tr.trSelected:hover td, 
		.flexigrid div.bDiv tr.trSelected:hover td.sorted,
		.flexigrid div.bDiv tr.trOver.trSelected td.sorted, 
		.flexigrid div.bDiv tr.trOver.trSelected td,
		.flexigrid tr.trSelected td.sorted, 
		.flexigrid tr.trSelected td {
	background: #d5effc url(../../../images/flexigrid/hl.png) repeat-x top;
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;
}

/* novstripe adjustments */

.flexigrid.novstripe .bDiv table {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.flexigrid.novstripe  div.bDiv td {
	border-right-color: #fff;
}

.flexigrid.novstripe div.bDiv tr.erow td.sorted {
	border-right-color: #e3e3e3;
}

.flexigrid.novstripe div.bDiv tr td.sorted {
	border-right-color: #f3f3f3;
}

.flexigrid.novstripe  div.bDiv tr.erow td {
	border-right-color: #f7f7f7;
	border-left-color: #f7f7f7;
}

.flexigrid.novstripe div.bDiv tr.trSelected:hover td, 
		.flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted,
		.flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted, 
		.flexigrid.novstripe div.bDiv tr.trOver.trSelected td,
		.flexigrid.novstripe tr.trSelected td.sorted, 
		.flexigrid.novstripe tr.trSelected td {
	border-right: 1px solid #0066FF;
	border-left: 1px solid #0066FF;
}

.flexigrid.novstripe div.bDiv tr.trOver td, .flexigrid.novstripe div.bDiv tr:hover td {
	border-left-color: #d9ebf5;
	border-right-color: #d9ebf5;
}

/* end novstripe */

.flexigrid div.pDiv {
	background: url(../../../images/flexigrid/wbg.gif) repeat-x 0 -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.pDiv div.pDiv2 {
	margin: 3px;
	margin-left: -2px;
	float: left;
	width: 1024px;
}

div.pGroup {
	float: left;
	background: none;
	height: 24px;
	margin: 0px 5px;
}

.flexigrid div.pDiv .pPageStat, .flexigrid div.pDiv .pcontrol {
	position: relative;
	top: 5px;
	overflow: visible;
}

.flexigrid div.pDiv input {
	vertical-align: text-top;
	position: relative;
	top: -5px;
}

.flexigrid div.pDiv  div.pButton {
	float: left;
	width: 22px;
	height: 22px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}

.flexigrid div.pDiv  div.pButton:hover, .flexigrid div.pDiv  div.pButton.pBtnOver {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.flexigrid div.pDiv  div.pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.flexigrid div.pDiv  div.pButton:hover span, .flexigrid div.pDiv  div.pButton.pBtnOver span {
	width: 19px;
	height: 19px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.flexigrid .pSearch {
	background: url(../../../images/flexigrid/magnifier.png) no-repeat center;
}

.flexigrid .pFirst {
	background: url(../../../images/flexigrid/first.gif) no-repeat center;
}

.flexigrid .pPrev {
	background: url(../../../images/flexigrid/prev.gif) no-repeat center;
}

.flexigrid .pNext {
	background: url(../../../images/flexigrid/next.gif) no-repeat center;
}

.flexigrid .pLast {
	background: url(../../../images/flexigrid/last.gif) no-repeat center;
}

.flexigrid .pReload {
	background: url(../../../images/flexigrid/load.png) no-repeat center;
}

.flexigrid .pReload.loading {
	background: url(../../../images/flexigrid/load.gif) no-repeat center;
}

/* ie adjustments */

.flexigrid.ie div.hDiv th div, .flexigrid.ie  div.bDiv td  div, div.colCopy.ie div



/* common inner cell properties*/ {
	overflow: hidden;
}

/* @end */