h1 {
font: bold 16px Arial, Helvetica, sans-serif;
}

p {
font: 11px Arial, Helvetica, sans-serif;
} 

a {
color: #900;
text-decoration: none;
}

a:hover {
background: #900;
color: #FFF;
}

hr {
  color: #000;
  background-color: #000;
  height: 1px;
  border: 0;
  width: 100%;
}

