/*-------------------------------------------------
PAGE BODY
-------------------------------------------------*/
html {
	overflow: -moz-scrollbars-vertical;
}


body {
	margin: 0 auto;
	padding: 0;
	background: #e5e5e5;
	text-align: center;
}

body, .dialog {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

#left {
	text-align: left;
}

table.manage {
	font-size: 12px;
}
td.account {
	font-size: 14px;
}
/* Make sure the table cells show the right font */
/* Tablesorter table styling - start*/
.odd {
      background-color:#FFF;
      }
.even {
      background-color:#e9e9da;
       }
.highlight {
      background-color: #e9e9da;
       }
td.highlight:hover {
      background-color: #ffff00;
       }
/* Tablesorter table styling - end*/
/*td for the manage screen - start */
td.index_table {
        border-style: none none none none;
        border-color: white white white white;
        background-color: #F5F5F5;
        -moz-border-radius: 0px 0px 0px 0px;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
}


td.index_table:hover {
        background-color: #ffff00;
        color: #ff0000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
}

tr.index_table:hover {
        background-color: #a5cbf7;
        color: #ff0000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
}
/* table styling */
.largeHeaders {
        background:
                #e9e9da
                url('../../../images/common/green_arrows.gif')
                no-repeat
                center right;
        color: #333;
        padding: 5px;
        padding-left: 25px;
        text-align: left;
        cursor: pointer;
}
.sortUp {
        background:
                #e9e900
                url('../../../images/common/green_decending.gif')
                no-repeat
                center right;
}

.sortDown {
        background:
                #e9e900

                url('../../../images/common/green_acending.gif')
                no-repeat
                center right;
}



td { 
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; 
	text-align:left;
}


td.columnleft {
	border-left:5px solid #EEEEEE;
}

td.details_screen {
         border-style: none none none none;
         border-color: white white white white;
         background-color: #F5F5F5;
         -moz-border-radius: 0px 0px 0px 0px;
         font-style: normal;
	 border-width: 1px
         font-weight: normal;
         text-decoration: none;
 }
 /*td for the details screen - end*/
 
 /*td for the details screen - start*/
 tr.details_screen {
         border-style: none none none none;
         background-color: #F5F5F5;
         font-style: normal;
        font-weight: normal;
         text-decoration: none;
}

/*sortable table css */
th.sortable {
        background-color: #e9e9da;
}
/* table styling */
.largeHeaders {
        background: 
                #e9e9da
                url('../../../images/common/green_arrows.gif')
                no-repeat
                center right;
        color: #333;
        padding: 5px;
        padding-left: 25px;
        text-align: left;
        cursor: pointer;
}
.sortUp {
        background:
                #e9e900
                url('../../../images/common/green_decending.gif')
                no-repeat
                center right;
}

.sortDown {
        background:
                #e9e900

                url('../../../images/common/green_acending.gif')
                no-repeat
                center right;
}


#debug {
        text-align: center;
        width: 100%;
}
#sorting {
        position: absolute;
        width: 100%;
        height: 100%;
        left:0px;
        top:0px;
        text-align: center;
        display: none;
        margin:0px;
        padding:0px;
}
#sorting div {
        border: 1px solid #000;
        padding:10px;
        margin: auto;
        text-align: center;
        width: 300px;
        top:200px;
        position: relative;
        background-color: #FFF;
        color: #333;
        font-weight: bold;
}
/*sortable - end*/

/*-------------------------------------------------
GLOBALS & GENERAL CASES
-------------------------------------------------*/

.print_only { display: none; }

a {text-decoration: underline; padding: 1px; }
a:link { color: #03c; }
a:visited { color: #03c; }
a:hover { color: #fff; background-color: #990000; text-decoration: none; }

a.image:link,
a.image:visited,
a.image:hover {
  border: none;
  background: none;
}

a.toggle.active:link,
a.toggle.active:visited,
a.toggle.active:hover {
  background: #999 !important;
  color: #000 !important;
  text-decoration: none;
  font-weight: normal !important;
}


p { font-size: 14px; margin: 0 0 15px 0;}

h1 {
	font-size: 32px;
	letter-spacing: normal;
	font-family: helvetica, arial, sans-serif;
	color: #000;
  margin: 5px 0 15px 0;
	padding: 0 0 5px 0;
  position: relative;
}

h1.admin {
	margin-bottom: 2px;
}

h2 { font-size: 18px; margin: 0 0 15px 0; font-family: helvetica; }

a img {
        border: 0;
}

a.image:link, a.image:visited, a.image:hover {
	background: none;
	padding: 0;
}

a.image img {
	border: none;
	padding: 0;
	margin: 0;
}


table tr.shaded td {
	background-color: #edf3fe;
}



a.anchor:link, a.anchor:visited, a.anchor:hover {
	color: #fff;
	background: #fff;
	font-size: 0px;
	text-decoration: none;
	padding: 0;
}


div.notice {
  background: #080;
}

div.alert {
  background: #f00;
}

h4 {
	font-size: 11px;
	margin: 0;
}

h5 {
	font-size: 80%;
	font-style: italic;
	font-family: georgia;
	font-weight: normal;
	text-align: left;
	margin: 0 0 20px 0;
	padding-top: 3px;
	color: #6FC0DE;
	border-bottom: 1px solid #C2DDE7;
}

h5 strong {
	color: #4F9DBA;
}

form {
	margin: 0;
	padding: 0;
}

.red {
	color: #c00;
}

.blue {
	color: #06c;
	}
	
.green {
	color: #390;
	}
	
.highlight {
	background-color: #ffc;
}

ins {
	background-color: #cfc;
	text-decoration: none;
}

del {
	color: #999;
}

code, pre	{
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	background: inherit;
	color: #333;
	font-size: 80%
}

table { border-collapse: collapse; 

}
tr {
border: 1px solid #fff;
}

td {
border: 1px solid #fff;
}

	/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size : 105%; 
}

/*-------------------------------------------------
SYSTEM NOTICE
-------------------------------------------------*/

div#system_notice {
  font-size: 11px;
  border-bottom: 1px solid #666;
  text-align: center;
  padding: 7px;
  background-color: #333;
  color: #fff;
}

div#system_notice a:link, div#system_notice a:visited {
  color: #fff;
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

div#Header {
  margin: 0;
  background: #036;
  padding: 13px 0 0 0;
  text-align: left;
/*  position: relative; */
}


/*-------------------------------------------------
TABS
-------------------------------------------------*/

#Tabs {
	height: 24px;
	margin: 0;
	padding: 0 20px 0 30px;*/
}

#Tabs ul {
	margin: 0; padding: 0;
  background: #036;
}

#Tabs li {
	margin: 0; padding: 0;
	display: inline;
	list-style: none;
	border: none;
}

#Tabs ul {
}

div#Tabs a:link,
div#Tabs a:visited {
  text-decoration: none;
}

#Tabs a:hover {
	color: #fff;
	background: #333;
}

/*-------------------------------------------------
PAGE CONTENT
-------------------------------------------------*/

div#PageContent {
  clear: left;
  padding-top: 15px;
}


/*-------------------------------------------------
STRUCTURE
-------------------------------------------------*/

div#Wrapper {
	padding: 0 23px 0 30px;
	margin: 0 auto;
}

div#Container {
	margin: 13px auto 0 auto;
	text-align: center;
	}

.ClearAll {
	padding: 0px;
  margin: 0;
	clear: both;
	font-size: 1px;
	}

.Left {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 70%;
	float: left;
	}

.Full {
  text-align: left;
}

.Right {
	margin: 0px 0 0 0;
	padding: 0;
	text-align: left;
	float: left;
	width: 30%;
	}

#Footer {
  clear: left;
  padding: 3px;
  font-size: 11px;
  margin: 0 0 20px 10px;
  color: #aaa;
}

#Footer a:link,
#Footer a:visited {
  color: #666;
}

#Footer a:hover {
  color: #fff;
  background: #333;
}

#Footer p {
  margin: 5px 0 10px 0;
  padding: 0;
  line-height: 16px;
}

/*--------
FOR PROPORTIONAL WIDTH 
------*/

.col {
	padding: 0 20px;
	text-align: center;
}

.Left .col,
.Full .col {
  padding: 10px 30px 20px 20px;
  background: #fff url(../../../images/common/right-bg.gif) right repeat-y;
}

.Left .col .showhide {
  margin-top: 8px;
}

.Full .bottom,
.Left .bottom {
  background: url(../../../images/common/bottom-bg.gif) top right no-repeat;
  font-size: 8px;
  margin-bottom: 20px;
}

body.lobby .Full .bottom {
  margin-bottom: 0;
}

.Right .col {
	padding: 0 0 0 9px;
}












/*
 *USE AS REFERENCE BELOW
 */

/*-------------------------------------------------
FILES & TRANSCRIPTS
-------------------------------------------------*/

body.transcript_browser h1,
body.search_results h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

body.transcript_browser h1 span.remaining_space {
  float: right;
  width: 500px;
  text-align: right;
  font-weight: normal;
  font-family: verdana, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

body.transcript_browser h1 span.remaining_space span {
  font-size: 11px;
  color: #999;
}

body.transcript_browser h1 span.remaining_space span abbr {
  font-size: 9px;
  padding-left: 1px;
  letter-spacing: 0.1em;
}

body.transcript_browser h1 span.remaining_space div {
	padding: 2px;
  display: inline;
}

div#search_header {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

div#search_header input {
  font-size: 18px;
  vertical-align: middle;
}

div#search_header input#term {
  padding: 1px;
  width: 350px;
}

body.search_results div#search_header input#term,
body.search_results .highlight {
  background: #ff9;
}

div#transcript_options {
  float: right;
  font-size: 11px;
  width: 225px;
}


/*-------------------------------------------------
TRANSCRIPT VIEWER
-------------------------------------------------*/


body.transcript h1.date {
  margin-bottom: 5px;
}

p.adjacent_transcripts {
  color: #999;
  margin: 0 0 15px 0;
  font-size: 12px;
}

body.transcript div#chat-wrapper p.adjacent_transcripts {
  margin: 20px 0 0 0;
}


/*-------------------------------------------------
SYSTEM MESSAGE
-------------------------------------------------*/

div.system_message {
  background-color: #ff8;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

div.system_message p {
  font-size: 12px;
  margin: 0;
}

div.system_message p strong {
  color: #000;
}

.guest_user div.system_message {
  display: none;
}

body.admin textarea {
  width: 400px;
  height: 75px;
}



table.sortable {
        border-spacing: 0;
        border: 1px solid #fff;
        border-collapse: collapse;
}
th.sortable {
        text-align: left;
        padding: 0px 0px 0px 0px;
        border: 1px solid #fff;
}
td.sortable:hover {
        background-color: #ffff00;
        color: #ff0000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
}



th.sortable {
 	       background-color: #e9e9da;
                padding: 2px;


                border-bottom: 1px solid #CBC7B8;

                text-align: left;
		border-right: 1px solid #D6D2C2;
                font-weight: normal;

}
th.sortable {
        border: 1px solid #fff;
}
table.sortable tr.odd td {
        background-color: #F5F5F5;
}
table.sortable tr.even td {
        background-color: #fff;
}
table.sortable tr.sortBottom td {
        border-top: 0px none #666;
        background-color: #ccc;
}
.flt {
        background-image:url(img/filter.gif) ;
        background-repeat:no-repeat ;
}

.flt_s {
        background-image:url(img/filter.gif) ;
        background-repeat:no-repeat ;
}


.style1 {
        font-family: monospace;
        color: #00CCFF;
        font-size: small;
}
.style2 {color: #FF0000}
/*doFitler -end*/


/*Accordian css - start*/
                        #list1 { 
				width:49%;
			  	float:right
			 }
                        .title { cursor:pointer; border:1px solid #CCCCCC; margin-top:0.5em; padding:0.1em; }
                        .on1  .title { background-color:#E4EFC7; }
                        .off1 .title { background-color:#E0E0E0; }
                        /*.content    { background-color:#F5F5F5; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }*/
                        .content    { background-color:#FFF; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }

                        #list2 { 
				width:49%; 
				float:left;
			 }
                        .mytitle { cursor:pointer; border:1px solid #CCCCCC; margin-top:0.5em; padding:0.1em; }
                        .on  .mytitle { background-color:#E4EFC7; }
                        .off .mytitle { background-color:#E0E0E0; }
                        /*.mycontent    { background-color:#F5F5F5; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }*/
                        .mycontent    { background-color:#FFF; padding:0.1em; border:1px solid #C0C0C0; border-top-width:0; }
                        a:link {  text-decoration: none; }
                        a:visited { text-decoration: none; }
                        a:active { text-decoration: none; }
/*Accordian css - end*/


/*left rigth - define text align for tables here*/
.align_right {
	text-align: right;
}
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
