<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>$title</title>
<body>
<br>
<div id="container">
<div id="header">


</div>

<link rel="stylesheet" type="text/css" href="./src/invoices/templates/$template/$template.css">

$logo_block
$invoice_summary
	<table class="left">
	$biller_block
	<br>
		<tr>
			<td colspan=3><br /><td>
		</tr>
$customer_block
	</table>
		<table class="left" width="100%">
		<tr>
			<td colspan="6"><br /></td>
		</tr>
	$heading
	
	$lines

	$notes
	<tr class="tbl1-left tbl1-right">
		<td class="tbl1-left tbl1-right" colspan="6" ><br></td>
	</tr>
	$gross_total
	$total_tax
	<tr class="tbl1-left tbl1-right">
		<td class="tbl1-left tbl1-right" colspan="6" ><br></td>
	</tr>
	$total_invoice
	<tr>
		<td colspan="6"><br /><br /></td>
	</tr>
	
	$details
	<tr>
		<td><br></td>
	</tr>
	$footer
</table>
<div id="footer"></div></div>

</body>
</html>
